{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Server List - {{ site_name }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/eq-ui.css' %}">
{% endblock %}
{% block content %}

    <div class="container py-5">
        <div class="eq-window-complex-fancy">
            <div class="eq-window-nested-tan eq-header" style="text-align: center;">
                <h1>EQEmu Server List</h1>
            </div>
            <table class="eq-table">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Server Information</th>
                    <th>Legends Servers</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for server in servers %}
                    {% if server.login_server_list_type_id == 1 %}
                        <tr>
                            <td style="width: 50px;">
                                <span style="color:green">{{ population }}</span>
                            </td>
                            <td style="width:150px;">[<a href="https://eqarchives.com/" target="_blank">View</a>]</td>
                            <td style="width: auto;"><span style="color:orange">{{ server.long_name }}</span></td>
                            <td style="width: auto;">{{ server.tag_description }}</td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                        <td colspan="4">No registered servers were found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
